{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{%block content%}
<div class="conatiner-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center category"><b>Business News</b></h2>
      </div>
        {{macro.displaySourceList(business)}}
    </div>
    <div class="row">
      <div class="col-md-12">
      <h2 class="text-center category"><b>Sports News</b></h2>
    </div>
        {{macro.displaySourceList(sports)}}
      </div>

      <div class="row">
        <div class="col-md-12">
      <h2 class = "text-center category"><b>Entertainment News</b></h2>
      </div>
        {{macro.displaySourceList(entertainment)}}
      </div>

      <div class="row">
        <div class="col-md-12">
      <h2 class= "text-center category"><b>Health News</b></h2>
      </div>
        {{macro.displaySourceList(health)}}
      </div>

      <div class="row">
        <div class="col-md-12">
      <h2 class = "text-center category"><b>Science News</b></h2>
      </div>
        {{macro.displaySourceList(science)}}
      </div>

      <div class="row">
        <div class="col-md-12">
      <h2 class = "text-center category"><b>Technology News</b></h2>
      </div>
        {{macro.displaySourceList(technology)}}
      </div>

</div>

{%endblock%}
