{% macro displaySourceList(source_list)%}
    {%for source in source_list%}
    <div class="col-md-3 border border-primary">
      <div class="card border border-primary">
        <div class="card-header">
        <h4>{{source.name}}</h4>
      </div>

      <div class="card-body">
        <blockquote class = "blockquote-0">
        <p>{{source.description}}</p>
        <footer><cite title="Source Title"><a href="{{source.url}}">Read Articles...</a></cite></footer>
        </blockquote>
          </div>
        </div>
    </div>
    {% endfor %}
{% endmacro %}
